body {
    margin: auto;
    text-align: center;
    width: 75%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large; 
    list-style: inside;
}

 html {
    font-size: large; 
 } 

.title {
    background-color: aqua;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 5px grey;
    margin-bottom: 90px;
}

.subtitle {
    background-color: beige;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 15px grey;
    margin-bottom: 90px;
}

.subsubtitle {
    background-color: aquamarine;
    margin: auto;
    margin-top: 20px;
    width: 75%;
    border: 1px solid black;
    border-radius: 8px;
}

.text {
    background-color: white;
    margin: auto;
    margin-top: 20px;
    width: 85%;
    border: 2px solid black;
}

#express-hello-world-code-image {
    width: 400px;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    border: 1px dashed grey;
}

#express-hello-world-result-image {
    width: 300px;
    height: 150px;
    margin-bottom: 20px;
    padding: 5px;
    border: 1px solid grey;
}